:root {
  --black-shadow: #0000001a;
  --dark-grey: #333333;
  --dark-grey-trans: #33333328;
  --dark-grey-trans2: #333333a9;
  --light-grey: #ebebeb;
  --white: #ffffff;

  --blue: #d8e5ff;
  --blue-shadow: #8b9bbcb8;
  --green: #d4edda;
  --green-shadow: #80a98aad;

  --yellow: #fff3cd;
  --yellow-shadow: #bca352cc;

  --red: #f8d7da;
  --red-shadow: #d5616bd0;

  --purple: #e3c6f5;
  --purple-shadow: #996db5b0;

  --font-family: Arial, sans-serif;
}

.dark-mode {
  --black-shadow: #ffffff1a;
  --dark-grey: #e6e6e6;
  --dark-grey-trans: #e6e6e628;
  --dark-grey-trans2: #e6e6e6a9;
  --light-grey: #1c1c1c;
  --white: #121212;

  --blue: #3a4f72;
  --blue-shadow: #5b7296b8;
  --green: #2e4737;
  --green-shadow: #4a6d52ad;

  --yellow: #7a6d2b;
  --yellow-shadow: #d8c97acc;

  --red: #6a2d32;
  --red-shadow: #a3454fd0;

  --purple: #4c3561;
  --purple-shadow: #7d5c95b0;
}

html {
  overflow-y: scroll;
}

body {
  font-family: var(--font-family);
  background: var(--light-grey);
  color: var(--dark-grey);
  text-align: center;
  margin: 0;
  height: 100vh;
}


.Qteco {
  background: var(--white);
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0.5% 2%;
  margin-bottom: 0.9%;
  box-shadow: 0 0.5vw 0.5vw var(--dark-grey-trans);
}

.Qteco img {
  max-width: 50%;
  height: auto;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15%, max-content));
  gap: 0.5%;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  padding: 1%;
  box-sizing: border-box;
}

.card {
  border-radius: 5%;
  padding: 1%;
  text-align: center;
  font-size: 1vw;
  min-height: 2vw;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .url {
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  max-width: 100%;
  position: relative;
  text-decoration: underline;
  color: var(--dark-grey);
}

a {
  text-decoration: none;
}

.status-1xx {
  background-color: var(--purple);
  box-shadow: 0 0.5vw 0.5vw var(--purple-trans);
}

.status-2xx {
  background-color: var(--green);
  box-shadow: 0 0.2vw 0.2vw var(--green-shadow);
}

.status-3xx {
  background-color: var(--blue);
  box-shadow: 0 0.2vw 0.2vw var(--blue-shadow);
}

.status-4xx {
  background-color: var(--red);
  box-shadow: 0 0.5vw 0.5vw var(--red-shadow);
}

.status-5xx {
  background-color: var(--red);
  box-shadow: 0 0.5vw 0.5vw var(--red-shadow);
}

#filter {
  font-size: 1.2vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1vh;
}

#status-filter {
  font-size: 1vw;
  border-radius: 6px;
}

#theme-select {
  border-radius: 6px;
  border-color: var(--dark-grey);
  background-color: #00000000;
  color: var(--dark-grey);
}

footer {
  font-weight: bold;
  background: var(--white);
  align-items: center;
  position: fixed;
  width: 100%;
  height: 5vw;
  bottom: 0;
  box-shadow: 0 -0.5vw 0.5vw var(--dark-grey-trans);
  display: flex;
  justify-content: space-evenly;
}

.memoryBar {
  display: flex;
  align-items: center;
  gap: 5%;
}

progress {
  appearance: none;
  border-radius: 6px;
}

.green progress::-webkit-progress-value {
  background: green;
  border-radius: 6px;
}
.green progress::-webkit-progress-bar {
  border-radius: 6px;
  background: #bbbbbb;
}

.orange progress::-webkit-progress-value {
  background: orange;
  border-radius: 6px;
}
.orange progress::-webkit-progress-bar {
  border-radius: 6px;
  background: #bbbbbb;
}

.red progress::-webkit-progress-value {
  background: red;
  border-radius: 6px;
}
.red progress::-webkit-progress-bar {
  border-radius: 6px;
  background: #bbbbbb;
}

.green progress::-moz-progress-bar {
  background: green;
}

.orange progress::-moz-progress-bar {
  background: orange;
}

.red progress::-moz-progress-bar {
  background: red;
}

.diskBar {
  display: flex;
  align-items: center;
  gap: 5%;
}
